{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
<a href="/admin/matchingsystem">{% trans 'Matchingsystem' %}</a>
&rsaquo;
File Upload
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Upload Data"/>
        <input type="button" value="Back" onclick="window.location='/admin/matchingsystem'"/>
    </form>
</div>
{% endblock %}
