{% block content %}

<h1>Client Landing Page</h1>
<p>Username: {{ username }}</p>

{% if project_list %}
    <ul>
      {% for project in project_list %}
      <li>
        <p>Title: {{ project.project_title }} Approved? {{ project.project_valid }}</p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no projects registered.</p>
    {% endif %}
    <input type="button" value="Add Project" onclick="window.location='{% url 'matchingsystem:project_form' %}'"/> 
    <input type="button" value="Logout" onclick="window.location='{% url 'ixn_auth:logout' %}'"/>     

{% endblock %}
